<% @page_title = "Register" %>
<div class="register_form">
    <h1>Register</h1>
    <%= form_for(@user) do |f| %>
        <p>Username: <%= f.text_field :username %></p>
        <p>Email: <%= f.text_field :email %></p>
        <p>Password: <%= f.password_field :password %></p>
        <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
        <%= f.submit :Register %>
    <% end %>
    <% if @user.errors.any? %>
        <ul class="register_errors">
        <% for message_error in @user.errors.full_messages %>
            <li><%= message_error %></li>
        <% end %>
        </ul>
    <% end %>
</div>
