<header class="site-header">
  <div class="l-constrained">
    <a href="/" class="site-branding">
      <%= image_tag "logo.png", class: "site-logo" %>
      <span class="site-title link-label">BibleQuotes</span>
    </a>
    <h1 class="page-title"><%= @page_title %></h1>
    <ul class="navbar-btns">
      <% if logged_in? %>
        <li>
          <%= active_link_to new_quote_path, {class: "nav-btn"} do %>
            <i class="fa fa-edit"></i>
            <span class="link-label">New Quote</span>
          <% end %>
        </li>
        <li class="dropdown-container">
          <a href="#" class="nav-btn">
            <i class="fa fa-user"></i>
            <span class="link-label"><%= current_user.username %></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= active_link_to "Profile", "/users/" + current_user.username, {class: "fa fa-user"} %></li>
            <li><a href="/users/edit" class="fa fa-pencil user-edit-btn">Edit profile</a></li>
            <li><%= link_to "Log out", logout_path, {class: "fa fa-sign-out", method: "delete"}  %></li>
        </li>
      <% else %>
        <li><a href="/login" class="nav-btn"><i class="fa fa-unlock-alt"></i>Login / Signup</a></li>
      <% end %>
      <!-- <a href="#" class="fa fa-rotate-right next-btn">Refresh</a> -->
    </ul>
  </div>
</header>

<div class="site-content l-constrained">
